
<h1>EJERCICIO 1</h1>
<div style="border: solid; text-align:left">
  <h1>Alta clientes</h1>

  <div class="row">
    <div class="col-12">
      <p>Nombre:<input type="text" id="nombre" name="fname" [(ngModel)]="nombre"></p>
      <p>CIF: <input type="text" id="cif" name="fname" [(ngModel)]="cif"> </p>
      <p>Direccion: <input type="text" id="direccion" name="fname" [(ngModel)]="direccion"> </p>
      <p> Grupo:
        <select name="grupo" [(ngModel)]="grupo">
          <option value="1">Uno</option>
          <option value="2">Dos</option>
          <option value="3">Tres</option>
        </select>
      </p>

      <button class="btn btn-primary" (click)="guardarCliente()">Guardar</button>
      <br><br>

    </div>
  </div>
</div>
<app-clientes [listClientes]="listaClientes"></app-clientes>

<hr style="border: 20px solid black;">
<h1>EJERCICIO 2</h1>
<div style="border: solid; text-align:left">
  <h1>FORMULARIO</h1>
<div class="row">
  <div class="col-12">
    <p>Nombre:<input type="text" id="fnombre" name="fname" [(ngModel)]="fnombre"></p>
    <p>Email: <input type="text" id="femail" name="fname" [(ngModel)]="femail"> </p>
    <p>Mensaje: <input type="text" id="fmensaje" name="fname" [(ngModel)]="fmensaje"> </p>
    <p> 2 + 3 = ?  <input type="text" id="frespuesta" name="fname" [(ngModel)]="frespuesta"></p>

    <button class="btn btn-secondary" (click)="enviarFormulario()">Enviar</button>
    <br><br>

  </div>
</div>
</div>
<app-formularios [listFormulario]="listaFormulario"></app-formularios>

<router-outlet></router-outlet>
